
body{
    background-image: url('../images/pic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



form {
    border: solid 1px;
    padding: 10px;
    background-color: #F0F8FF;
    width: 300px;
    margin: auto;
    box-shadow: 10px 10px 5px red;
    border-radius: 10px;
}


form label, form input{
    width: 120px;
    float: left;
    margin-bottom: 10px;
}

br {
    clear: left;
}

h2{
    text-align: center;
    color: red;
}